@{
    ViewData["Title"] = "Acceso Denegado";
    Layout = "_LayoutAdminLogin"; // O un layout general
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No tienes permiso para acceder a este recurso.</p>
</header>