@inject Microsoft.Extensions.Options.IOptions<ArandanoIRT.Web._2_Infrastructure.Settings.TurnstileSettings> TurnstileSettings
@model ArandanoIRT.Web._1_Application.DTOs.Admin.LoginDto
@inject IWebHostEnvironment Env 
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Inicio de sesi칩n - Arandano IRT</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>
    @if (!Env.IsDevelopment()) 
    {
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    }
</head>
<body>

<div class="login-card">
    <a asp-area="Admin" asp-controller="Support" asp-action="PublicHelp" class="btn-help">?</a>

    <div class="login-header">
        <span class="emoji">游삃</span>
        <h1>Inicio de Sesi칩n</h1>
    </div>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger mb-3" role="alert"></div>

        <div class="form-group mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" placeholder="Escribe tu correo"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Password" class="form-label">Contrase침a</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Escribe tu contrase침a"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-center">
            <div class="cf-turnstile mb-3" data-sitekey="@TurnstileSettings.Value.SiteKey"></div>
        </div>

        <div class="form-text text-center mb-3">
            <a asp-area="Admin" asp-controller="Account" asp-action="ForgotPassword" class="link-sutil">쯆lvidaste tu contrase침a?</a>
        </div>

        <div class="action-buttons">
            <a asp-area="Admin" asp-controller="Account" asp-action="Register" class="btn btn-secondary w-100">Registrarse</a>
            <button type="submit" class="btn btn-primary w-100">Iniciar Sesi칩n</button>
        </div>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<partial name="_ValidationScriptsPartial"/>

</body>
</html>